<appSettings>
  <add key="FacebookAppId" value="998425750630279"/>
  <add key="FacebookAppSecret" value="5f9373d47c8c64b3efac3ed9a0553d2c"/>
  <add key="MailServer" value="smtp.videoque.com"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
